@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 100vh;
  padding-top: 40px;
  font-family: 'JetBrains Mono', monospace;
  background-color: #f7f7f7;
}

@keyframes load {
  0% {
    background-color: #ddd;
    height: 300px;
  }

  25% {
    background-color: #b65bf5;
    height: 550px;
  }

  50% {
    background-color: #f33878;
    height: 550px;
  }

  55% {
    background-color: #f33878;
    height: 500px;
  }

  65% {
    background-color: #f5a623;
    height: 460px;
  }

  75% {
    background-color: #b65bf5;
    height: 400px;
  }

  80% {
    background-color: #f33878;
    height: 350px;
  }

  90% {
    background-color: #f5a623;
    height: 300px;
  }

  100% {
    background-color: #f7f7f7;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.bar {
  display: flex;
  align-items: flex-end;
  border: 1px solid black;
  height: 550px;
  width: 80px;
  background-color: #292929dc;
}

.bar .load-bar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 80px;
  background-color: #f7f7f7;
}

.bar .load-bar span {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 100px;
}

.color-bar {
  height: 250px;
}

.color-bar1 {
  height: 300px;
}

.color-bar2 {
  height: 350px;
}

.color-bar3 {
  height: 350px;
}

.color-bar4 {
  height: 150px;
}

.color-bar5 {
  height: 200px;
}

.color-bar6 {
  height: 250px;
}

.animation {
  animation: load 3.5s linear;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
  color: #f7f7f7;
  border: none;
  border-radius: 4px;
  background-color: #292929dc;
  width: 250px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  border: 1px solid #292929dc;
  color: black;
  background-color: #f7f7f7;
}
